.ff-cursive {
  font-family: "Shrikhand", cursive;
}

.ff-sans {
  font-family: "Noto Sans TC", sans-serif;
}

.ff-sans-saira {
  font-family: "Saira Extra Condensed", sans-serif;
}

$max: 48;

@for $i from 0 through $max {
  .letter-spacing-#{$i} {
    letter-spacing: $i * 1px !important;
  }
}

@include media-breakpoint-up(md) {
  @for $i from 0 through $max {
    .letter-spacing-md-#{$i} {
      letter-spacing: $i * 1px !important;
    }
  }
}
