.ff-cursive {
  font-family: "Shrikhand", cursive;
}

.ff-sans {
  font-family: "Noto Sans TC", sans-serif;
}

.ff-sans-saira {
  font-family: "Saira Extra Condensed", sans-serif;
}

.letter-spacing-16 {
  letter-spacing: 16px;
}

.letter-spacing-20 {
  letter-spacing: 20px;
}

.letter-spacing-32 {
  letter-spacing: 32px;
}

.letter-spacing-40 {
  letter-spacing: 40px;
}

.letter-spacing-48 {
  letter-spacing: 48px;
}
