<div class="container py-md-12">
  <div class="d-flex justify-content-between align-items-center">
    <div>
      <h2 class="fs-0 footer-logo">
        <a class="fs-md-5" href="./index.html">ALPHABOX+</a>
      </h2>
      <p>Copyright © 2023 Hexschool.</p>
    </div>
    <img src="../assets/images/icons/emergency-dark.png" alt="logo" />
    <ul class="list-unstyled d-flex gap-6 footer-menu">
      <li><a class="fw-bold" href="###">關於我們</a></li>
      <li><a class="fw-bold" href="###">產品資訊</a></li>
      <li><a class="fw-bold" href="###">常見問題</a></li>
      <li><a class="fw-bold" href="###">隱私政策</a></li>
    </ul>
  </div>
</div>
