<div class="container p-10 px-md-0 py-md-12">
  <div
    class="d-flex flex-column align-items-start flex-md-row justify-content-between align-items-md-center row-gap-2 row-gap-md-0"
  >
    <div>
      <h2 class="fs-0 footer-logo">
        <a class="fs-7 fs-md-5" href="./index.html">ALPHABOX+</a>
      </h2>
      <p class="d-none d-md-block">Copyright © 2023 Hexschool.</p>
    </div>
    <img src="../assets/images/icons/emergency-dark.png" alt="logo" />
    <ul
      class="list-unstyled d-flex flex-column flex-md-row gap-2 gap-md-6 footer-menu"
    >
      <li><a class="fw-bold" href="###">關於我們</a></li>
      <li><a class="fw-bold" href="###">產品資訊</a></li>
      <li><a class="fw-bold" href="###">常見問題</a></li>
      <li><a class="fw-bold" href="###">隱私政策</a></li>
    </ul>
    <p class="d-block d-md-none ff-sans fw-bold">Copyright © 2023 Hexschool.</p>
  </div>
</div>
