<nav
  class="bg-primary-200 navbar navbar-expand-lg p-0 border-bottom border-1 border-light"
>
  <div class="container-lg">
    <h1 class="fs-0 lh-base my-4">
      <a
        class="navbar-brand ff-cursive fs-6 fs-md-5 text-light py-0"
        href="./index.html"
        >ALPHABOX+</a
      >
    </h1>
    <button
      style="width: 44px; height: 44px"
      class="navbar-toggler p-0"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="bg-gradient-linear-180 collapse navbar-collapse pt-6 pb-8 pt-lg-0 pb-lg-0 border-top border-md-0"
      id="navbarSupportedContent"
    >
      <ul class="navbar-nav gap-1 gap-lg-10 mx-lg-auto ff-sans text-center">
        <li class="nav-item">
          <a class="nav-link text-light" href="#">產品</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" href="#">關於我們</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" href="#">最新消息</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" href="./faq.html">FAQ</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" href="#">聯絡我們</a>
        </li>
      </ul>
      <ul
        class="navbar-nav d-flex align-items-center ff-sans text-center gap-1"
      >
        <li class="nav-item me-lg-6">
          <a class="nav-link text-light" href="#">註冊</a>
        </li>
        <li class="nav-item me-lg-8">
          <a class="nav-link text-light" href="#">登入</a>
        </li>
        <li class="nav-item">
          <button
            class="ff-sans py-2 px-4 rounded-1 hover-btn d-flex align-items-center"
          >
            <img
              class="me-1"
              src="../assets/images/icons/point_scan-dark.svg"
              alt="point_scan"
            />訂閱
          </button>
        </li>
      </ul>
    </div>
  </div>
</nav>
