.navbar-menu-hover li a:hover {
  color: rgba($light, 0.8) !important;
}

.hover-btn:hover {
  background-color: $primary-300;
  color: $light;

  img {
    content: url("../images/icons/point_scan-light.svg");
  }
}

.navbar-toggler {
  &:hover {
    border: 1px solid $secondary;
  }
}

.navbar {
  .bg-gradient-linear-180 {
    margin: 0 -12px 0 -12px;

    @include media-breakpoint-up(lg) {
      background: transparent !important;
    }
  }
}
