.hover-btn:hover {
  background-color: $primary-300;
  color: $light;

  img {
    content: url("../assets/images/icons/point_scan-light.svg");
  }
}

.navbar-toggler {
  &:hover {
    border: 1px solid $secondary;
  }
}
