<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ALPHABOX+ | 最懂你的陪伴者</title>
    <link rel="icon" type="image/x-icon" href="../assets/images/favicon.ico" />
  </head>
  <body>
    <!-- header -->
    <%- include('./layout/header'); -%>
    <div class="bg-secondary faq">
      <div class="container pt-36 pb-20 pt-md-31 pb-md-30">
        <h2
          class="fs-md-3 fs-4 ff-sans fw-bolder letter-spacing-48 pb-10 pb-md-16 border-dashed"
        >
          FAQ
        </h2>
        <div class="row">
          <div class="col-md-4 py-6 pt-md-10 border-dashed border-md-0">
            <div class="list-group ff-sans fw-medium">
              <h3>
                <a
                  href="#"
                  class="list-group-item list-group-item-action mb-4 active fs-8"
                  aria-current="true"
                >
                  ALPHABOX+ 使用問題
                </a>
              </h3>
              <h3>
                <a
                  href="#"
                  class="list-group-item list-group-item-action mb-4 fs-8"
                  >訂購與運送</a
                >
              </h3>
              <h3>
                <a href="#" class="list-group-item list-group-item-action fs-8"
                  >產品保養與維修</a
                >
              </h3>
            </div>
          </div>
          <div class="col-md-8">
            <div class="accordion ff-sans" id="accordionFaq">
              <div class="row accordion-item border-dashed py-8 py-md-10">
                <div class="col-md-9">
                  <h2 class="accordion-header">
                    <button
                      class="accordion-button fw-bold"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#collapse1"
                      aria-expanded="true"
                      aria-controls="collapse1"
                    >
                      ALPHABOX+ 的使用方式是什麼？
                    </button>
                  </h2>
                  <div
                    id="collapse1"
                    class="accordion-collapse collapse show mt-4"
                    data-bs-parent="#accordionFaq"
                  >
                    <div class="accordion-body">
                      首先請確保機器人已安裝並連接至Wi-Fi，然後使用專屬的應用程式進行設定。隨後即可透過語音指令或應用程式與機器人進行互動。
                    </div>
                  </div>
                </div>
              </div>
              <div class="row accordion-item border-dashed py-8 py-md-10">
                <div class="col-md-9">
                  <h2 class="accordion-header">
                    <button
                      class="accordion-button collapsed fw-bold"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#collapse2"
                      aria-expanded="true"
                      aria-controls="collapse2"
                    >
                      ALPHABOX+ 需要什麼樣的環境來使用？
                    </button>
                  </h2>
                  <div
                    id="collapse2"
                    class="accordion-collapse collapse mt-4"
                    data-bs-parent="#accordionFaq"
                  >
                    <div class="accordion-body">
                      ALPHABOX+
                      不需要特殊的環境，它可以在一般家居環境中使用。然而，為了獲得最佳效果，建議使用較寬敞的空間以便享受其3D立體投影功能。此外，良好的網絡連接也有助於確保
                      ALPHABOX+ 的語音辨識和互動功能正常運作。
                    </div>
                  </div>
                </div>
              </div>
              <div class="row accordion-item border-dashed py-8 py-md-10">
                <div class="col-md-9">
                  <h2 class="accordion-header">
                    <button
                      class="accordion-button collapsed fw-bold"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#collapse3"
                      aria-expanded="true"
                      aria-controls="collapse3"
                    >
                      ALPHABOX+ 支援哪些語言？
                    </button>
                  </h2>
                  <div
                    id="collapse3"
                    class="accordion-collapse collapse mt-4"
                    data-bs-parent="#accordionFaq"
                  >
                    <div class="accordion-body">
                      ALPHABOX+
                      具有高度智能的語音辨識技術，支援多種語言，包括但不限於英語、中文、西班牙語、法語、德語等主要語言。我們不斷更新語言支援，以滿足不同用戶的需求。
                    </div>
                  </div>
                </div>
              </div>
              <div class="row accordion-item border-dashed py-8 py-md-10">
                <div class="col-md-9">
                  <h2 class="accordion-header">
                    <button
                      class="accordion-button collapsed fw-bold"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#collapse4"
                      aria-expanded="true"
                      aria-controls="collapse4"
                    >
                      ALPHABOX+ 的軟體更新方式為何？
                    </button>
                  </h2>
                  <div
                    id="collapse4"
                    class="accordion-collapse collapse mt-4"
                    data-bs-parent="#accordionFaq"
                  >
                    <div class="accordion-body">
                      ALPHABOX+
                      的軟體更新可以通過網絡連接進行。我們定期推出軟體更新，以提升性能、新增功能和改進安全性。用戶可以在設備上設定自動更新，或者手動檢查更新並進行安裝。
                    </div>
                  </div>
                </div>
              </div>
              <div class="row accordion-item border-dashed py-8 py-md-10">
                <div class="col-md-9">
                  <h2 class="accordion-header">
                    <button
                      class="accordion-button collapsed fw-bold"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#collapse5"
                      aria-expanded="true"
                      aria-controls="collapse5"
                    >
                      購買 ALPHABOX+ 後的售後服務如何？
                    </button>
                  </h2>
                  <div
                    id="collapse5"
                    class="accordion-collapse collapse mt-4"
                    data-bs-parent="#accordionFaq"
                  >
                    <div class="accordion-body">
                      我們提供完善的售後服務，包括產品保固、技術支援和線上客服協助。如果您遇到任何問題或需要技術支援，請隨時聯繫我們的客服團隊。我們致力於確保您在購買和使用
                      ALPHABOX+ 過程中得到全面的支持和滿意的服務。
                    </div>
                  </div>
                </div>
              </div>
              <div class="row accordion-item border-dashed py-8 py-md-10">
                <div class="col-md-9">
                  <h2 class="accordion-header">
                    <button
                      class="accordion-button collapsed fw-bold"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#collapse6"
                      aria-expanded="true"
                      aria-controls="collapse6"
                    >
                      ALPHABOX+ 與其他智能家居設備的相容性如何？
                    </button>
                  </h2>
                  <div
                    id="collapse6"
                    class="accordion-collapse collapse mt-4"
                    data-bs-parent="#accordionFaq"
                  >
                    <div class="accordion-body">
                      ALPHABOX+
                      具有智慧家居控制功能，因此它可以與多種智能家居設備相容，包括智能燈具、智能音響、智能家居安全系統等等。我們不斷擴展相容性，以確保
                      ALPHABOX+
                      能夠輕鬆整合到您的智能家居生態系統中，提供更便利的生活體驗。
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- footer -->
    <%- include('./layout/footer'); -%>

    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>

    <script type="module" src="../main.js"></script>
  </body>
</html>
