<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ALPHABOX+ | 最懂你的陪伴者</title>
    <link rel="icon" type="image/x-icon" href="../assets/images/favicon.ico" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css"
    />
  </head>
  <body>
    <!-- banner -->
    <div class="bg-gradient-linear-180">
      <%- include('./layout/header'); -%>
      <div
        class="pt-24 pt-md-34 text-light container-fluid px-md-20 position-relative"
      >
        <div class="row mb-8 mb-md-14 flex-column-reverse flex-md-row">
          <div class="col-md-3 align-self-end">
            <p class="d-none d-md-block ff-sans fw-bold pb-2 border-bottom">
              最新消息！新版本 v15.4 釋出，搶先體驗！
            </p>
          </div>
          <div class="col-md-6 d-flex align-items-center my-8 my-md-0">
            <img
              class="mx-auto rotate"
              style="width: 196px"
              src="../assets/images/circle.png"
              alt="alphabox circle"
            />
          </div>
          <div
            class="col-md-3 d-flex flex-column justify-content-between ff-sans fw-bold"
          >
            <p class="pt-2 pt-md-1 border-top border-light">ALPHABOX+ STUDIO</p>
            <p class="d-none d-md-block text-secondary-300">
              Copyright © 2023 Hexschool.
            </p>
          </div>
        </div>
        <div class="d-md-none">
          <h2 class="fs-7 text-justify">A L P H A B O X +</h2>
          <p class="fs-8 ff-sans text-center mb-6 letter-spacing-md-16">
            擁抱未來科技，專屬您的3D立體投影陪伴機器人
          </p>
        </div>
        <div class="row">
          <div class="col-md-3">
            <div
              class="banner-img fs-5 h-md-100 text-center pt-4 mb-4 mb-md-0"
              style="
                background: url('../assets/images/diane_square1.png') no-repeat
                  top / cover;
              "
            >
              Diane
            </div>
          </div>
          <div class="col-md-6">
            <div class="d-none d-md-block">
              <h2 class="fs-5 text-justify">A L P H A B O X +</h2>
              <p class="fs-8 ff-sans text-center mb-md-6 letter-spacing-md-16">
                擁抱未來科技，專屬您的3D立體投影陪伴機器人
              </p>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div
                  class="banner-img fs-5 text-center pt-4 mb-4 mb-md-0"
                  style="
                    background: url('../assets/images/felix.png') no-repeat top /
                      cover;
                  "
                >
                  Felix
                </div>
              </div>
              <div class="col-md-6">
                <div
                  class="banner-img fs-5 text-center pt-4 mb-4 mb-md-0"
                  style="
                    background: url('../assets/images/karina.png') no-repeat top /
                      cover;
                  "
                >
                  Karina
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div
              class="banner-img h-md-100 fs-5 text-center pt-4 mb-8 mb-md-0"
              style="
                background: url('../assets/images/vito.png') no-repeat top /
                  cover;
              "
            >
              Vito
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- 什麼是 alphabox -->
    <!-- --標題 -->
    <div
      style="
        background-image: url('../assets/images/carousel_background.png'),
          radial-gradient(50% 50% at 50% 50%, #300871 0%, #000 100%);
        background-size: 50% 100%, cover;
        background-repeat: no-repeat;
      "
      class="mt-n26 text-light"
    >
      <div class="container-fluid px-md-20 pb-15 pb-md-13 pt-26 pt-md-36">
        <div
          class="w-100 bg-gradient-linear-90 mb-4 mb-md-2"
          style="height: 40px"
        ></div>
        <h2
          class="fs-7 fs-sm-6 fs-md-3 ff-sans fw-bold letter-spacing-6 letter-spacing-sm-24 letter-spacing-md-48 mb-5 mb-md-4"
        >
          <span class="d-block mb-2 mb-md-4">什麼是</span>
          <span>ALPHABOX+</span>
        </h2>
        <div class="border-bottom mx-n3 mx-n-md-20"></div>
        <div class="position-relative">
          <div class="container-md">
            <div class="swiper introSwiper pt-4 pb-8 py-md-8">
              <div class="swiper-wrapper">
                <div class="swiper-slide position-relative">
                  <div
                    class="w-100 aspect-ratio h-560"
                    style="
                      background: url('../assets/images/carousel.png') no-repeat
                        center / cover;
                    "
                  ></div>
                  <div
                    class="position-absolute bottom-0 top-md-50 end-md-0 translate-middle-md-y ms-4 ms-md-0 me-md-10 text-md-end pb-4 pb-md-0"
                  >
                    <p class="fs-2 fs-md-1 fw-bold ff-cursive">01</p>
                    <h3
                      class="fs-6 fs-md-5 fw-bold letter-spacing-24 letter-spacing-md-32 mb-2 mb-md-4 me-n8"
                    >
                      立體投影技術
                    </h3>
                    <p class="fs-8 fw-bold">
                      透過高科技立體投影技術，讓您感受真實的科技世界
                    </p>
                  </div>
                </div>
                <div class="swiper-slide position-relative">
                  <div
                    class="w-100 aspect-ratio h-560"
                    style="
                      background: url('../assets/images/carousel2.png')
                        no-repeat center / cover;
                    "
                  ></div>
                  <div
                    class="position-absolute bottom-0 top-md-50 end-md-0 translate-middle-md-y ms-4 ms-md-0 me-md-10 text-md-end pb-4 pb-md-0"
                  >
                    <p class="fs-1 fw-bold ff-cursive">02</p>
                    <h3 class="fs-5 fw-bold letter-spacing-md-32 mb-md-4 me-n8">
                      多種形象選擇
                    </h3>
                    <p class="fs-8 fw-bold">
                      提供多種不同形象的虛擬角色，滿足您的個性喜好
                    </p>
                  </div>
                </div>
                <div class="swiper-slide position-relative">
                  <div
                    class="w-100 aspect-ratio h-560"
                    style="
                      background: url('../assets/images/carousel3.png')
                        no-repeat center / cover;
                    "
                  ></div>
                  <div
                    class="position-absolute bottom-0 top-md-50 end-md-0 translate-middle-md-y ms-4 ms-md-0 me-md-10 text-md-end pb-4 pb-md-0"
                  >
                    <p class="fs-1 fw-bold ff-cursive">03</p>
                    <h3 class="fs-5 fw-bold letter-spacing-md-32 mb-md-4 me-n8">
                      智能互動功能
                    </h3>
                    <p class="fs-8 fw-bold">
                      使用自然語言處理，可以與您進行流暢對話問答
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="d-none d-md-block swiper-button-prev"></div>
          <div class="d-none d-md-block swiper-button-next"></div>
        </div>
        <div class="w-100 bg-gradient-linear-90" style="height: 40px"></div>
      </div>
    </div>

    <!-- 最新消息 -->
    <div class="bg-gradient-radial-1 pt-15 pb-20 pt-md-40 pb-md-10">
      <div class="container text-light">
        <h2
          class="fs-4 fs-md-3 fw-bold letter-spacing-40 letter-spacing-md-48 ms-5 ms-md-0 mb-8 mb-md-10 text-center text-md-start"
        >
          最新消息
        </h2>
        <div class="border-top border-bottom border-light py-8 py-md-10">
          <div class="mb-2">
            <img
              class="me-4"
              src="../assets/images/icons/emergency-sm.png"
              alt="重點標示"
            /><time
              class="letter-spacing-16 fs-8 ff-sans fw-bold lh-base text-break"
              datetime="2023-06-30"
              >2023.06.30</time
            >
          </div>
          <h3 class="fs-7 mb-3 fw-bold letter-spacing-md-20">產品升級公告</h3>
          <div class="row">
            <p class="col-lg-9 fw-bold ff-sans mb-3 mb-md-0">
              榮幸地宣布，ALPHABOX+
              已成功完成最新一代的升級！本次升級包括提升投影解析度、優化語音辨識技術，以及擴充情感識別功能。歡迎您了解本次升級帶來的更為卓越的性能！
            </p>
            <div class="col-md-3 text-md-end">
              <a href="###"
                ><img
                  class="arrow_end-long"
                  src="../assets/images/icons/line_arrow_notch_end-long.png"
                  alt="箭頭"
              /></a>
            </div>
          </div>
        </div>
        <div class="row d-flex mb-10 mb-md-0">
          <div
            class="col-12 col-md-6 py-8 py-md-10 px-md-4 border-md-end border-bottom"
          >
            <div class="mb-2">
              <img
                class="me-4"
                src="../assets/images/icons/emergency-sm.png"
                alt="重點標示"
              /><time
                class="letter-spacing-16 fs-8 ff-sans fw-bold lh-base text-break"
                datetime="2023-06-30"
                >2023.06.30</time
              >
            </div>
            <h3 class="fs-7 mb-3 fw-bold letter-spacing-md-20">限時優惠活動</h3>
            <p class="fw-bold ff-sans mb-3">
              為答謝廣大用戶的支持，本月將舉辦一場限時優惠活動。訂閱 ALPHABOX+
              的顧客，皆可享受九折優惠。機會難得，請勿錯過此良機！
            </p>
            <a href="###"
              ><img
                class="arrow_end-short"
                src="../assets/images/icons/line_arrow_notch_end-short.png"
                alt="箭頭"
            /></a>
          </div>
          <div class="col-12 col-md-6 py-8 py-md-10 px-md-4 border-bottom">
            <div class="mb-2">
              <img
                class="me-4"
                src="../assets/images/icons/emergency-sm.png"
                alt="重點標示"
              /><time
                class="letter-spacing-16 fs-8 ff-sans fw-bold lh-base text-break"
                datetime="2023-06-30"
                >2023.06.30</time
              >
            </div>
            <h3 class="fs-7 mb-3 fw-bold letter-spacing-md-20">新功能上線</h3>
            <p class="fw-bold ff-sans mb-3">
              為使您的 ALPHABOX+
              更趨完善，我們不懈地研發創新功能。近期，我們新推出智慧家居控制功能，使您的機器人能更便利地協助您操作家中各類智能設備。
            </p>
            <a href="###"
              ><img
                class="arrow_end-short"
                src="../assets/images/icons/line_arrow_notch_end-short.png"
                alt="箭頭"
            /></a>
          </div>
        </div>
        <div class="text-center pt-md-19 pb-md-24">
          <a class="position-relative seemore-btn" href="###">
            <img src="../assets/images/text-circle.png" alt="按鈕外框" />
            <span
              class="position-absolute top-50 start-50 translate-middle text-light"
            >
              查看更多
            </span>
          </a>
        </div>
        <div class="text-end d-none d-md-block">
          為環保盡一份心力，我們的包裝盒和紙質說明書都使用環保材料
        </div>
      </div>
    </div>

    <!-- 使用分享 -->
    <div
      class="bg-gradient-radial-2 text-light pt-15 pb-20 pt-md-40 pb-md-10 overflow-hidden position-relative"
    >
      <div class="container">
        <div class="row">
          <div
            class="d-flex flex-column flex-md-row align-items-start align-items-md-center mb-4"
          >
            <h2
              class="col-md-5 fs-4 fs-md-3 fw-bold letter-spacing-40 letter-spacing-md-48"
            >
              使用分享
            </h2>
            <p class="d-none d-md-block col-md-7 fw-bold">
              展示其他使用者對於產品的真實體驗與評價，讓您更加放心選擇。
            </p>
          </div>
          <div class="d-flex gap-1 ff-sans mb-6 mb-md-10">
            <span>01</span
            ><img
              src="../assets/images/icons/horizontal_rule.png"
              alt="橫線"
            /><span>04</span>
          </div>
          <p class="d-md-none col-md-7 fw-bold mb-6">
            展示其他使用者對於產品的真實體驗與評價，讓您更加放心選擇。
          </p>
          <img
            style="width: 80px"
            class="mb-4 mb-md-6"
            src="../assets/images/icons/emergency.png"
            alt=""
          />
        </div>

        <div class="swiper overflow-visible reviewSwiper ff-sans fw-bold">
          <div class="swiper-wrapper flex-column flex-md-row">
            <div
              class="swiper-slide d-flex flex-column justify-content-between bg-primary-300 p-6 p-md-10 mb-6 mb-md-0"
            >
              <div>
                <p class="mb-8">
                  Zona<span
                    class="mx-md-2 align-middle bg-light d-inline-block"
                    style="width: 8px; height: 8px; border-radius: 50%"
                  ></span
                  >Taipei
                </p>
                <p>
                  ALPHABOX+
                  真的很夯！每次把它打開，感覺就像是身臨其境一樣。它陪我度過了很多寂寞的時光，讓我在家裡也能享受到優質的休閒時光。
                </p>
              </div>
              <p>
                <span
                  class="me-md-4 align-middle bg-light d-inline-block"
                  style="width: 16px; height: 16px; border-radius: 50%"
                ></span>
                <span
                  class="me-md-4 align-middle bg-light d-inline-block"
                  style="width: 16px; height: 16px; border-radius: 50%"
                ></span
                >ALPHABOX+ Dianne
              </p>
            </div>
            <div
              class="swiper-slide d-flex flex-column justify-content-between bg-light text-dark p-6 p-md-10 mb-6 mb-md-0"
            >
              <div>
                <p class="mb-8">
                  Lin<span
                    class="mx-md-2 align-middle bg-dark d-inline-block"
                    style="width: 8px; height: 8px; border-radius: 50%"
                  ></span
                  >Chiayi
                </p>
                <p>
                  非常推薦！它的畫面清晰度超高，真的讓我驚艷不已。而且它還可以和我互動，感覺就像是有個真實的朋友在身邊。
                </p>
              </div>
              <p>
                <span
                  class="me-md-4 align-middle bg-dark d-inline-block"
                  style="width: 16px; height: 16px; border-radius: 50%"
                ></span>
                <span
                  class="me-md-4 align-middle bg-dark d-inline-block"
                  style="width: 16px; height: 16px; border-radius: 50%"
                ></span
                >ALPHABOX+ Felix
              </p>
            </div>
            <div
              class="swiper-slide d-flex flex-column justify-content-between bg-primary-300 p-6 p-md-10 mb-6 mb-md-0"
            >
              <div>
                <p class="mb-8">
                  云<span
                    class="mx-md-2 align-middle bg-light d-inline-block"
                    style="width: 8px; height: 8px; border-radius: 50%"
                  ></span
                  >Taipei
                </p>
                <p>
                  我之前一直在找能陪伴我度過空虛時光的好夥伴，直到遇見
                  ALPHABOX+。它不僅僅是一個機器人，更像是一個真正的朋友，陪著我分享喜怒哀樂。真的很讚！
                </p>
              </div>
              <p>
                <span
                  class="me-md-4 align-middle bg-light d-inline-block"
                  style="width: 16px; height: 16px; border-radius: 50%"
                ></span>
                <span
                  class="me-md-4 align-middle bg-light d-inline-block"
                  style="width: 16px; height: 16px; border-radius: 50%"
                ></span
                >ALPHABOX+ Dianne
              </p>
            </div>
            <div
              class="swiper-slide d-flex flex-column justify-content-between bg-light text-dark p-6 p-md-10"
            >
              <div>
                <p class="mb-8">
                  Zichi<span
                    class="mx-md-2 align-middle bg-dark d-inline-block"
                    style="width: 8px; height: 8px; border-radius: 50%"
                  ></span
                  >Kaohsiung
                </p>
                <p>
                  讓我在忙碌的工作之餘，也能找到休閒的樂趣。它的互動功能非常有趣，讓我在短短的時間內就愛上了它。給它一百分！
                </p>
              </div>
              <p>
                <span
                  class="me-md-4 align-middle bg-dark d-inline-block"
                  style="width: 16px; height: 16px; border-radius: 50%"
                ></span>
                <span
                  class="me-md-4 align-middle bg-dark d-inline-block"
                  style="width: 16px; height: 16px; border-radius: 50%"
                ></span
                >ALPHABOX+ Vito
              </p>
            </div>
          </div>
        </div>

        <div class="container d-none d-md-block">
          <div class="row flex-nowrap">
            <div class="col-md-8 position-relative mt-md-12 me-md-6">
              <div class="review-swiper-pagination"></div>
            </div>
            <span class="mt-md-9 mb-md-31 ff-sans fw-bold">SCROLL</span>
          </div>
        </div>

        <p class="d-none d-md-block">
          若您有任何疑問或建議，歡迎隨時與我們聯絡，我們將竭誠為您解答。
        </p>
      </div>
      <img
        style="
          position: absolute;
          width: 120%;
          bottom: 0;
          left: 50%;
          transform: translate(-50%, 50%);
        "
        src="../assets/images/ALPHABOX+.png"
        alt="ALPHABOX"
      />
    </div>

    <!-- 聯絡我們 -->
    <div class="bg-primary-400 text-light">
      <div class="container pt-15 pb-20 py-md-36">
        <div class="row">
          <div class="col-md-5">
            <h2
              class="fs-4 fs-md-3 fw-bold letter-spacing-40 letter-spacing-md-48 mb-3 mb-md-5"
            >
              聯絡我們
            </h2>
            <div class="mb-9 mb-md-13p5">
              <span
                class="me-md-2 align-middle bg-light d-inline-block"
                style="width: 12px; height: 12px; border-radius: 50%"
              ></span>
              <span
                class="align-middle bg-light d-inline-block"
                style="width: 124px; height: 12px; border-radius: 50px"
              ></span>
            </div>
            <div class="mb-6 mb-md-0">
              <p class="mb-1">讓科技成為您的最佳夥伴</p>
              <p>立即體驗神奇功能並享限時優惠！</p>
            </div>
          </div>
          <div class="col-md-7">
            <img
              class="mb-4"
              src="../assets/images/icons/emergency.png"
              alt="重點標示"
            />
            <div class="form-floating mb-4 ff-sans">
              <input
                type="email"
                class="form-control"
                id="floatingInput"
                placeholder="name@example.com"
              />
              <label class="ff-sans" for="floatingInput">EMAIL</label>
            </div>
            <div class="form-floating mb-4 ff-sans">
              <textarea
                class="form-control"
                placeholder="Leave a comment here"
                id="floatingTextarea2"
                style="height: 120px"
              ></textarea>
              <label for="floatingTextarea2">COMMENTS</label>
            </div>
          </div>
        </div>
        <div class="row justify-content-end">
          <div class="col-md-4">
            <button class="w-100 py-2 contact-btn fw-medium" type="button">
              <img
                class="me-1"
                src="../assets/images/icons/point_scan-light.svg"
                alt="point_scan"
              />送出
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- 機器人展示 -->
    <div class="container-fluid">
      <div class="row robot-list">
        <div
          style="
            background: url('../assets/images/diane_vertical.png') no-repeat top /
              cover;
          "
          class="col-12 col-md-6 col-lg-3 g-0"
        >
          <a
            href="###"
            class="d-block robot-item text-light py-6 px-3 pt-md-6 px-md-10 pb-md-14"
          >
            <p
              class="display-2 display-md-1 ff-sans-saira text-center mb-4 mb-md-5"
            >
              1
            </p>
            <p class="fs-6 fs-md-5 text-center mb-4p5 mb-md-20">Diane</p>
            <div>
              <h3 class="fs-8 fw-bold">知識型</h3>
              <div
                class="d-flex flex-column flex-md-row justify-content-between"
              >
                <p>學術領導/知識分享/智能問答</p>
                <img
                  style="width: 155px"
                  src="../assets/images/icons/line_arrow_notch_end-long.png"
                  alt=""
                />
              </div>
            </div>
          </a>
        </div>
        <div
          style="
            background: url('../assets/images/felix_vertical.png') no-repeat top /
              cover;
          "
          class="col-12 col-md-6 col-lg-3 g-0"
        >
          <a
            href="###"
            class="d-block robot-item text-light py-6 px-3 pt-md-6 px-md-10 pb-md-14"
          >
            <p
              class="display-2 display-md-1 ff-sans-saira text-center mb-4 mb-md-5"
            >
              2
            </p>
            <p class="fs-6 fs-md-5 text-center mb-4p5 mb-md-20">Felix</p>
            <div>
              <h3 class="fs-8 fw-bold">娛樂型</h3>
              <div
                class="d-flex flex-column flex-md-row justify-content-between"
              >
                <p>音樂播放/語音互動/遊戲陪伴</p>
                <img
                  style="width: 155px"
                  src="../assets/images/icons/line_arrow_notch_end-long.png"
                  alt=""
                />
              </div>
            </div>
          </a>
        </div>
        <div
          style="
            background: url('../assets/images/karina_vertical.png') no-repeat
              top / cover;
          "
          class="col-12 col-md-6 col-lg-3 g-0"
        >
          <a
            href="###"
            class="d-block robot-item text-light py-6 px-3 pt-md-6 px-md-10 pb-md-14"
          >
            <p
              class="display-2 display-md-1 ff-sans-saira text-center mb-4 mb-md-5"
            >
              3
            </p>
            <p class="fs-6 fs-md-5 text-center mb-4p5 mb-md-20">Karina</p>
            <div>
              <h3 class="fs-8 fw-bold">生活型</h3>
              <div
                class="d-flex flex-column flex-md-row justify-content-between"
              >
                <p>健康提醒/日程安排/智能家居</p>
                <img
                  style="width: 155px"
                  src="../assets/images/icons/line_arrow_notch_end-long.png"
                  alt=""
                />
              </div>
            </div>
          </a>
        </div>
        <div
          style="
            background: url('../assets/images/vito_vertical.png') no-repeat top /
              cover;
          "
          class="col-12 col-md-6 col-lg-3 g-0"
        >
          <a
            href="###"
            class="d-block robot-item text-light py-6 px-3 pt-md-6 px-md-10 pb-md-14"
          >
            <p
              class="display-2 display-md-1 ff-sans-saira text-center mb-4 mb-md-5"
            >
              4
            </p>
            <p class="fs-6 fs-md-5 text-center mb-4p5 mb-md-20">Vito</p>
            <div>
              <h3 class="fs-8 fw-bold">情感型</h3>
              <div
                class="d-flex flex-column flex-md-row justify-content-between"
              >
                <p>情感識別/心情分析/心靈支持</p>
                <img
                  style="width: 155px"
                  src="../assets/images/icons/line_arrow_notch_end-long.png"
                  alt=""
                />
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
    <!-- footer -->
    <%- include('./layout/footer'); -%>

    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>

    <script type="module" src="../main.js"></script>
  </body>
</html>
